@model ClassroomSE.Models.Assignment

@{
    ViewData["Title"] = "Edit";
}
    <body style="background-color:#ccf2ff;">
        <h1>Edit</h1>

        <h4>Assignment</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AssignmentID" />
                    <div class="form-group">
                        <label asp-for="AssignmentTitle" class="control-label"></label>
                        <input asp-for="AssignmentTitle" class="form-control" />
                        <span asp-validation-for="AssignmentTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AssignmentContent" class="control-label"></label>
                        <input asp-for="AssignmentContent" class="form-control" />
                        <span asp-validation-for="AssignmentContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DueDate" class="control-label"></label>
                        <input asp-for="DueDate" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>