@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-color:#ccf2ff;">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Welcome to the application. Here you can join a class, create a class and learn online.</a>.</p>
        </div>
    <img src="~/wwwroot/students.png" >
    </body>