@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-color:#ccf2ff;">
<h1>@ViewData["Title"]</h1>

<p>
    <br /><h1>1</h1>
    We keep your data secure

    Schools own their data—it’s our responsibility to keep it secure. Google builds and operates our own secure servers and platform services, and we make it easy for administrators to monitor and manage data security. Watch video.

    <br /><h1>2</h1>
    There are no ads in G Suite for Education core services

    There are no ads in G Suite for Education core services, and students’ personal information won’t be used to create ad profiles for targeting. Watch video.

    <br /><h1>3</h1>
    Google supports compliance with industry regulations and best practices

    Our services support compliance with privacy and security requirements. Independent organizations have audited our services, ensuring our data protection practices meet demanding standards. Watch video.

    <br /><h1>4</h1>
    You have clear information about Google’s privacy and security policies

    Google is committed to transparency about our data collection policies and practices. The G Suite for Education Privacy Notice and G Suite Agreement explain our contractual obligations to protect your data. Watch video.
</p>
</body>